#This is a configuration file

FOOTERLINE: CMS HI ECal Validation for Jets

#INFILENAME.0: /home/cfm/MITHIG/tempPlots2023/Sep21/Dijet15_TuneCP5_RECO_NoZS_NoEmu_20230920_Job109_FOREST.root
INFILENAME.1: /home/cfm/MITHIG/tempPlots2023/Sep24/Dijet15_TuneCP5_RECO_NoZS_MIEB5p5_EE6p0_LTH4p0_HTH8p0_20230919_Job105_FOREST_FULL.root
INFILENAME.2: /home/cfm/MITHIG/tempPlots2023/Sep24/Dijet15_TuneCP5_RECO_NoZS_MIEB8p0_EE8p0_LTH8p0_HTH10p0_20230920_Job112_FOREST_FULL.root
INFILENAME.3: /home/cfm/MITHIG/tempPlots2023/Sep24/Dijet15_TuneCP5_RECO_NoZS_MIEB8p0_EE8p0_LTH10p0_HTH14p0_20230920_Job113_FOREST_FULL.root

GLOBALNICKNAME: ENDCAP

#NICKNAME.0: NoDB
NICKNAME.1: Nominal
NICKNAME.2: EETarget
NICKNAME.3: EESafe

#Nominally you can select ttrees to test on but right now this is broken - fix
TREESELECT.0: particleFlowAnalyser/pftree
TREESELECT.1: ak4PFJetAnalyzer/t
TREESELECT.2: akCs4PFJetAnalyzer/t
TREESELECT.3: akFlowPuCs4PFJetAnalyzer/t
DOEVENTNORM: 1
EVENTCOUNTOVERRIDE: -1

# BIG CHANGE ADDING EVENT-BY-EVENT WEIGHTING
DOWEIGHT: 1
WEIGHTTREE: hiEvtAnalyzer/HiTree
WEIGHTVAR: weight

#CUTS WIll be listed like this
CUT.0:jtPfNHF:jtpt>20.0,abs(jteta)>1.52,abs(jteta)<2.95,refpt>10.0,jtPfNHF>-0.01,jtPfNHF<1.01
CUT.1:jtPfCHF:jtpt>20.0,abs(jteta)>1.52,abs(jteta)<2.95,refpt>10.0,jtPfCHF>-0.01,jtPfCHF<1.01
CUT.2:jtPfNEF:jtpt>20.0,abs(jteta)>1.52,abs(jteta)<2.95,refpt>10.0,jtPfNEF>-0.01,jtPfNEF<1.01
CUT.3:jtPfCEF:jtpt>20.0,abs(jteta)>1.52,abs(jteta)<2.95,refpt>10.0,jtPfCEF>-0.01,jtPfCEF<1.01
CUT.4:jtPfMUF:jtpt>20.0,abs(jteta)>1.52,abs(jteta)<2.95,refpt>10.0,jtPfMUF>-0.01,jtPfMUF<1.01

CUT.20:jtPfNHM:jtpt>20.0,abs(jteta)>1.52,abs(jteta)<2.95,refpt>10.0
CUT.21:jtPfCHM:jtpt>20.0,abs(jteta)>1.52,abs(jteta)<2.95,refpt>10.0
CUT.22:jtPfNEM:jtpt>20.0,abs(jteta)>1.52,abs(jteta)<2.95,refpt>10.0
CUT.23:jtPfCEM:jtpt>20.0,abs(jteta)>1.52,abs(jteta)<2.95,refpt>10.0
CUT.24:jtPfMUM:jtpt>20.0,abs(jteta)>1.52,abs(jteta)<2.95,refpt>10.0

#PF Cuts
CUT.9:pfId:pfPt>=0.5,pfPt<100.0,abs(pfEta)>1.52,abs(pfEta)<2.95,pfId>0.5,pfId<7.5
CUT.5:pfPt:pfPt>=0.5,pfPt<100.0,abs(pfEta)>1.52,abs(pfEta)<2.95
CUT.10:pfEta:pfPt>=0.5,pfPt<100.0,abs(pfEta)>1.52,abs(pfEta)<2.95
CUT.6:pfE:pfE>=0.4,pfE<100.0,abs(pfEta)>1.52,abs(pfEta)<2.95
CUT.16:pfPhi:pfPt>=0.5,pfPt<100.0,abs(pfEta)>1.52,abs(pfEta)<2.95,abs(pfPhi)<3.15

#More jet cuts
CUT.7:jtpt:jtpt>20.0,jtpt<300.0,abs(jteta)>1.52,abs(jteta)<2.95,refpt>10.0
CUT.8:rawpt:rawpt>15.0,rawpt<300.0,abs(jteta)>1.52,abs(jteta)<2.95,refpt>10.0

CUT.11:jteta:jtpt>20.0,jtpt<300.0,abs(jteta)>1.52,abs(jteta)<2.95,refpt>10.0
CUT.12:jtphi:jtpt>20.0,jtpt<300.0,abs(jteta)>1.52,abs(jteta)<2.95,refpt>10.0,abs(jtphi)<3.15
d
CUT.13:caloeta:calopt>20.0,calopt<300.0,abs(caloeta)>1.52,abs(caloeta)<2.95
CUT.14:calopt:calopt>20.0,calopt<300.0,abs(caloeta)>1.52,abs(caloeta)<2.95
CUT.15:calophi:calopt>20.0,calopt<300.0,abs(caloeta)>1.52,abs(caloeta)<2.95,abs(calophi)<3.15

CUT.30:jtm:jtpt>20.0,jtpt<300.0,abs(jteta)>1.52,abs(jteta)<2.95,refpt>10.0,jtm>0.0,jtm<80.0


#PAIRS AS FOLLOWS
PAIR.0: jtpt:jteta
PAIR.1: pfPt:pfEta
PAIR.2: pfE:pfEta

#DIV MIN NEW
DIVMIN.0: pfPt:0.9
DIVMIN.1: pfEta:0.9
DIVMIN.2: pfPhi:0.9
DIVMIN.3: pfE:0.9
DIVMIN.4: pfId:0.8
DIVMIN.5: rawpt:0.8
DIVMIN.6: jtpt:0.8
DIVMIN.7: jteta:0.8
DIVMIN.9: jtphi:0.8
#DIVMIN.10: jtm:0.8

DIVMAX.0: pfPt:1.1
DIVMAX.1: pfEta:1.1
DIVMAX.2: pfPhi:1.1
DIVMAX.3: pfE:1.1
DIVMAX.4: pfId:1.2
DIVMAX.5: rawpt:1.2
DIVMAX.6: jtpt:1.2
DIVMAX.7: jteta:1.2
DIVMAX.8: jty:1.2
DIVMAX.9: jtphi:1.2
#DIVMAX.10: jtm:1.2

NBIN.0: rawpt:15
NBIN.1: jtpt:15
NBIN.2: calopt:15
NBIN.3: jteta:20
NBIN.4: jtphi:20
NBIN.5: caloeta:20
NBIN.6: calophi:20
NBIN.7: jtPfNHF:20
NBIN.8: jtPfNEF:20
NBIN.9: jtPfCHF:20
NBIN.10: jtPfCEF:20
NBIN.11: jtPfMUF:20
NBIN.12: jtm:16

DOLOGX.0: jtpt:1
DOLOGY.0: jtpt:1
DOLOGX.1: rawpt:1
DOLOGY.1: rawpt:1

#VARS TO SKIP NEW
#VARTOSKIP.200: pfPt
#VARTOSKIP.201: pfId

VARTOSKIP.210: jtPfCHM
VARTOSKIP.211: jtPfMUM
VARTOSKIP.212: jtPfCEM
VARTOSKIP.213: jtPfNEM
VARTOSKIP.214: jtPfNHM

VARTOSKIP.0: jtarea
VARTOSKIP.1: nPF
VARTOSKIP.2: pfM
VARTOSKIP.3: run
VARTOSKIP.4: evt
VARTOSKIP.5: lumi
VARTOSKIP.6: nref
VARTOSKIP.7: ncalo
VARTOSKIP.8: jtpu
VARTOSKIP.9: jttau1
VARTOSKIP.10: jttau2
VARTOSKIP.11: jttau3
VARTOSKIP.12: discr_deepCSV
VARTOSKIP.13: discr_pfJP
VARTOSKIP.14: refpt
VARTOSKIP.15: refeta
VARTOSKIP.16: refy
VARTOSKIP.17: refphi
VARTOSKIP.18: refm
VARTOSKIP.19: refarea
VARTOSKIP.20: refdphijt
VARTOSKIP.21: refdrjt
VARTOSKIP.22: refparton_pt
VARTOSKIP.23: refparton_flavor
VARTOSKIP.24: refparton_flavorForB
VARTOSKIP.25: genChargedSum
VARTOSKIP.26: genHardSum
VARTOSKIP.27: signalChargedSum
VARTOSKIP.28: signalHardSum
VARTOSKIP.29: genmatchindex
VARTOSKIP.30: ngen
VARTOSKIP.31: gendphijt
VARTOSKIP.32: gendrjt
VARTOSKIP.33: vx
VARTOSKIP.34: vy
VARTOSKIP.35: vz
VARTOSKIP.36: Ncharged
VARTOSKIP.37: NchargedMR
VARTOSKIP.38: MeanPt
VARTOSKIP.39: MeanPtMR
VARTOSKIP.40: EtMR
VARTOSKIP.41: NchargedPtCut
vVARTOSKIP.42: NchargedPtCutMR
VARTOSKIP.43: ProcessID
VARTOSKIP.44: nMEPartons
VARTOSKIP.45: nMEPartonsFiltered
VARTOSKIP.46: ttbar_w
VARTOSKIP.47: npus
VARTOSKIP.48: tnpus
VARTOSKIP.49: hiZDC
VARTOSKIP.50: hiZDCplus
VARTOSKIP.51: hiZDCminus
VARTOSKIP.52: Npart
VARTOSKIP.53: Ncoll
VARTOSKIP.54: Nhard
VARTOSKIP.55: phi0
VARTOSKIP.56: b
VARTOSKIP.57: alphaQCD
VARTOSKIP.58: alphaQED
VARTOSKIP.59: qScale
VARTOSKIP.60: hiHFECut
VARTOSKIP.61: hiHFECutPlus
VARTOSKIP.62: hiHFECutMinus
VARTOSKIP.63: hiHFplusEta4
VARTOSKIP.64: hiHFminusEta4
VARTOSKIP.65: hiHFhit
VARTOSKIP.66: hiHFhitPlus
VARTOSKIP.67: hiHFhitMinus
VARTOSKIP.68: hiNpix
VARTOSKIP.69: hiNpixPlus
VARTOSKIP.70: hiNpixMinus
VARTOSKIP.71: hiNpixelTracks
VARTOSKIP.72: hiNpixelTracksPlus
VARTOSKIP.73: hiNpixelTracksMinus
VARTOSKIP.74: hiNtracks
VARTOSKIP.75: hiNtracksPtCut
VARTOSKIP.76: hiNtracksEtaCut
VARTOSKIP.77: hiNtracksEtaPtCut
VARTOSKIP.78: hiHF_pf
VARTOSKIP.79: hiHFE_pf
VARTOSKIP.80: hiHF_pfle
VARTOSKIP.81: hiHF_pfha
VARTOSKIP.82: hiHF_pfem
VARTOSKIP.83: hiHFPlus_pf
VARTOSKIP.84: hiHFEPlus_pf
VARTOSKIP.85: hiHFPlus_pfle
VARTOSKIP.86: hiHFPlus_pfha
VARTOSKIP.87: hiHFPlus_pfem
VARTOSKIP.88: hiHFMinus_pf
VARTOSKIP.89: hiHFEMinus_pf
VARTOSKIP.90: hiHFMinus_pfle
VARTOSKIP.91: hiHFMinus_pfha
VARTOSKIP.92: hiHFMinus_pfem
VARTOSKIP.93: nCountsHF_pf
VARTOSKIP.94: nCountsHFPlus_pf
VARTOSKIP.95: nCountsHFMinus_pf
VARTOSKIP.96: hiNevtPlane
VARTOSKIP.97: hiEvtPlanes
VARTOSKIP.98: numMinHFTower2
VARTOSKIP.99: numMinHFTower3
VARTOSKIP.100: numMinHFTower4
VARTOSKIP.101: numMinHFTower5
VARTOSKIP.102: matchedPt
VARTOSKIP.103: matchedRawPt
VARTOSKIP.104: matchedPu
VARTOSKIP.105: matchedR
VARTOSKIP.106: matchedHadronFlavor
VARTOSKIP.107: matchedPartonFlavor
VARTOSKIP.108: jty
